blinker==1.9.0
pyspellchecker>=0.7.0
click==8.3.3
Flask==3.1.3
greenlet==3.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
nltk==3.9.4
numpy==2.4.4
psycopg2-binary==2.9.12
regex==2026.4.4
scikit-learn==1.8.0
scipy==1.17.1
SQLAlchemy==2.0.49
threadpoolctl==3.6.0
tqdm==4.67.3
typing_extensions==4.15.0
Werkzeug==3.1.8

